ClockSchematic(
	oscillators: {
		"Hse": (frequency: 8000000),
		"Lse": (frequency: 32768),
		"Hsi": (frequency: 8000000),
		"Lsi": (frequency: 40000),
	},
	demuxers: {
		"RtcClockMux": (inputs: ["HseRtc", "Lse", "Lsi"], default: "Lsi"),
		"PllSourceMux": (inputs: ["HsiPll", "HsePll"], default: "HsiPll"),
		"I2SSourceMux": (inputs: ["I2SExt", "SysClk"], default: "SysClk"),
		"McoSourceMux": (inputs: ["Hsi", "Lse", "Hse", "PllClkMco", "Lsi", "SysClk"], default: "SysClk"),
		"SystemClockMux": (inputs: ["Hsi", "Hse", "PllMul"], default: "PllMul"),
		"Tim1SourceMux": (inputs: ["PllMulTim1", "PClk2"], default: "PClk2"),
		"I2C1ClockMux": (inputs: ["Hsi", "SysClk"], default: "Hsi"),
		"I2C2ClockMux": (inputs: ["Hsi", "SysClk"], default: "Hsi"),
		"Usart1ClockMux": (inputs: ["SysClk", "Hsi", "Lse", "PClk2"], default: "PClk2"),
		"Usart2ClockMux": (inputs: ["SysClk", "Hsi", "Lse", "PClk1"], default: "PClk1"),
		"Usart3ClockMux": (inputs: ["SysClk", "Hsi", "Lse", "PClk1"], default: "PClk1"),
		"Uart4ClockMux": (inputs: ["SysClk", "Hsi", "Lse", "PClk1"], default: "PClk1"),
		"Uart5ClockMux": (inputs: ["SysClk", "Hsi", "Lse", "PClk1"], default: "PClk1"),
	},
	dividers: {
		"HseRtc": (input: "Hse", default: 32, values: [32]),
		"HsiPll": (input: "Hsi", default: 2, values: [2]),
		"HsePll": (input: "Hse", default: 1, values: [1]),
		"PllClkMco": (input: "Hse", default: 2, values: [2]),
		"AhbPrescaler": (input: "SysClk", default: 1, values: [1,2,4,8,16,32,64,128,256,512]),
		"HClkToCortexSystemTimer": (input: "HClk", default: 1, values: [1,8]),
		"Apb1Prescaler": (input: "HClk", default: 1, values: [1,2,4,8,16]),
		"Apb2Prescaler": (input: "HClk", default: 1, values: [1,2,4,8,16]),
    "UsbPrescaler": (input: "PllMul", default: 1, values: [1]),
    "Adc12Prescaler": (input: "PllMul", default: 1, values: [1])
	},
	multipliers: {
		"PllMul": (input: "Pll", default: 9, values: [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]),
		"Apb1PrescalerApb1TimerClocks": (input: "Apb1Prescaler", default: 1, values: [1]),
		"Apb2PrescalerApb2TimerClocks": (input: "Apb2Prescaler", default: 1, values: [1])
	},
  taps: {
    "Pll": (input: "PllSourceMux"),
    "ToRtc": (input: "RtcClockMux"),
    "ToIwdg": (input: "Lsi"),
    "ToFlItfClk": (input: "Hsi"),
    "ToI2S": (input: "I2SSourceMux"),
    "Mco": (input: "McoSourceMux"),
    "SysClk": (input: "SystemClockMux"),
    "HClk": (input: "AhbPrescaler", max: 72000000),
    "ToUsart1": (input: "Usart1ClockMux", max: 0),
    "ToUsart2": (input: "Usart2ClockMux", max: 0),
    "ToUsart3": (input: "Usart3ClockMux", max: 0),
    "ToUart4": (input: "Uart4ClockMux", max: 0),
    "ToUart5": (input: "Uart5ClockMux", max: 0),
    "ToI2C1": (input: "I2C1ClockMux", max: 0),
    "ToI2C2": (input: "I2C2ClockMux", max: 0),
    "ToTim1": (input: "Tim1SourceMux", max: 0),
    "ToAhbCoreMemoryDma": (input: "HClk", max: 0),
    "ToCortexSystemTimer": (input: "HClkToCortexSystemTimer", max: 0),
    "FClkCortexClock": (input: "HClk", max: 0),
    "PClk1": (input: "Apb1Prescaler", max: 36000000),
    "PClk2": (input: "Apb2Prescaler", max: 36000000),
    "ToUsb": (input: "UsbPrescaler", max: 0),
    "ToAdc12": (input: "Adc12Prescaler", max: 0),
    "ToAdc12": (input: "Adc12Prescaler", max: 0),
    "ToApb1TimerClocks": (input: "Apb1PrescalerApb1TimerClocks", max: 0),
    "ToApb2TimerClocks": (input: "Apb2PrescalerApb2TimerClocks", max: 0),
  }
)
